@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
/*
  Light 300
  Regular 400
  Bold 700
  ExtraBold 800
*/

/* Global Styles */
* {
  font-family: 'Nunito', sans-serif;
}

.header {
  // bold
  font-weight: 700;
  font-size: 26px;
  color: red;
}

h1 {
  // bold
  font-weight: 700;
  font-size: 26px;
  color: red;
}

.label {
}
