<div class="timeslot" [ngClass]="{ isBooked: timeslot.bookedBy }">
  <span class="day">{{ day_formatted }}</span>
  <span class="time">{{ start_formatted }} - {{ end_formatted }}</span>
  <div *ngIf="!isReadOnly" class="checkboxContainer">
    <div class="checkboxContainerInner">
      <app-checkbox
        [checked]="checked"
        [disabled]="disabledCheckbox"
        (click)="
          $event.preventDefault();
          disabledCheckbox ? null : checked ? onUncheck() : onCheck()
        "
        [tooltipText]="timeslot.bookedBy?.name || ''"
      ></app-checkbox>
    </div>
  </div>
  <div class="nameContainer">
    <span class="name">{{ getBookingText() }}</span>
  </div>
</div>
