.entryContainer {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #030303;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.entry {
  position: absolute;
  transform: translateX(-45%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .entryLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  .title {
    margin-right: 30px;
  }

  .divider {
    width: 100%;
    height: 2px;
    background: #030303;
    margin: 10px 0px 20px 0px;
  }
}
