.entryContainer {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #030303;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.entry {
  position: absolute;
  transform: translateX(-45%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .entryLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  .title {
    margin-right: 20px;
    font-size: 20px;
  }
}
