<div class="pageContainer">
  <h1 class="headerText">Willkommen zum Sportplaner!</h1>
  <!-- <p>Logg dich bitte</p> -->

  <form (submit)="onSubmit(); $event.preventDefault()" class="form">
    <label for="name">Your Name</label>
    <app-text-input
      [type]="'text'"
      [name]="'name'"
      [placeholder]="placeholderName"
      [value]="name"
      (input)="onInputName($event)"
    ></app-text-input>

    <label for="name">House Number (9 or 11)</label>
    <app-text-input
      [type]="'text'"
      [name]="'house'"
      [placeholder]="placeholderHouse"
      [value]="house"
      (input)="onInputHouse($event)"
    ></app-text-input>

    <label for="name">Room Number</label>
    <app-text-input
      [type]="'text'"
      [name]="'room'"
      [placeholder]="placeholderRoom"
      [value]="room"
      (input)="onInputRoom($event)"
    ></app-text-input>

    <label for="name">Password</label>
    <app-text-input
      [type]="'password'"
      [name]="'password'"
      [placeholder]="placeholderPassword"
      [value]="password"
      (input)="onInputPassword($event)"
    ></app-text-input>

    <app-button
      [errorLabelText]="errorLabelText"
      [disabled]="!userCanSubmit"
      [text]="'Login'"
      (click)="$event.preventDefault(); onSubmit()"
    ></app-button>
  </form>
</div>
