<div class="pageContainer">
  <h1>Willkommen zum Sportplaner!</h1>
  <!-- <p>Logg dich bitte</p> -->

  <label for="name">Dein Name</label>
  <app-text-input
    type="text"
    [placeholder]="placeholderName"
    [value]="name"
    (input)="onInputName($event)"
  ></app-text-input>

  <label for="name">Hausnummer</label>
  <app-text-input
    type="text"
    [placeholder]="placeholderHouse"
    [value]="house"
    (input)="onInputHouse($event)"
  ></app-text-input>

  <label for="name">Zimmernummer</label>
  <app-text-input
    type="text"
    [placeholder]="placeholderRoom"
    [value]="room"
    (input)="onInputRoom($event)"
  ></app-text-input>

  <label for="name">Passwort</label>
  <app-text-input
    type="password"
    [placeholder]="placeholderPassword"
    [value]="password"
    (input)="onInputPassword($event)"
  ></app-text-input>

  <app-button
    [errorLabelText]="errorLabelText"
    [disabled]="!userCanSubmit"
    [text]="'Login'"
    (click)="$event.preventDefault(); onSubmit()"
  ></app-button>
</div>
