<div class="pageContainer">
  <div class="topRulesContainer">
    <ul>
      <li>Eine Eintragung ist erst 24h im vorraus möglich</li>
      <li>Es kann maximal 2h am Stück trainiert werden</li>
    </ul>
  </div>

  <div class="timeslotsContainer">
    <ng-container *ngFor="let timeSlot of timeSlots">
      <app-timeslot *ngIf="timeSlot.start.valueOf() !== 0" [timeslot]="timeSlot"> </app-timeslot>
    </ng-container>
  </div>

  <div>
    <pre>
      {{ selectedTimeSlots | json }}
    </pre>
  </div>

  <app-text-input [placeholder]="'Vorname'" [value]="userName" (input)="onNameInput($event)"></app-text-input>
  <app-button [text]="'Eintragen!'" (click)="onSubmit()"></app-button>

  <app-booking-confirmation></app-booking-confirmation>
</div>
