<div class="pageContainer" *ngIf="!successFullSumbission">
  <div class="topRulesContainer" *transloco="let t">
    <ul>
      <li>{{ t('booking.topRule1') }}</li>
      <li>{{ t('booking.topRule2') }}</li>
    </ul>
  </div>

  <div *ngIf="isLoading" class="timeslotsSkeleton" aria-hidden="true">
    <div class="timeslotSkeleton" *ngFor="let _ of skeletonSlots">
      <div class="skeletonLine skeletonDay"></div>
      <div class="skeletonLine skeletonTime"></div>
      <div class="skeletonBox"></div>
    </div>
  </div>

  <ng-container *ngIf="!isLoading">
    <div class="timeslotsContainer" *ngFor="let timeSlot of timeSlots">
      <app-timeslot *ngIf="timeSlot.start.valueOf() !== 0" [timeslot]="timeSlot"></app-timeslot>
    </div>

    <app-button
      [errorLabelText]="errorLabelText"
      [disabled]="!userCanSubmit"
      [text]="bookingConfirmButtonText"
      (click)="$event.preventDefault(); onSubmit()"
    ></app-button>
  </ng-container>
</div>

<app-booking-confirmation *ngIf="successFullSumbission"></app-booking-confirmation>
