<ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<div class="pageContainer" *ngIf="!successFullSumbission">
  <div class="topRulesContainer" *transloco="let t">
    <ul>
      <li>{{ t('booking.topRule1') }}</li>
      <li>{{ t('booking.topRule2') }}</li>
    </ul>
  </div>

  <div class="timeslotsContainer" *ngFor="let timeSlot of timeSlots">
    <app-timeslot *ngIf="timeSlot.start.valueOf() !== 0" [timeslot]="timeSlot"></app-timeslot>
  </div>

  <app-button
    [errorLabelText]="errorLabelText"
    [disabled]="!userCanSubmit"
    [text]="bookingConfirmButtonText"
    (click)="$event.preventDefault(); onSubmit()"
  ></app-button>
</div>

<app-booking-confirmation *ngIf="successFullSumbission"></app-booking-confirmation>
