<div class="pageContainer">
  <h1 i18n>Rules</h1>
  <ul>
    <li i18n>Rules for using the sports room</li>
    <li i18n>
      Only residents of the dormitories Gret-Palucca-Street 9 and 11 are allowed to use the gym.
    </li>
    <li i18n>Use only with clean shoes.</li>
    <li i18n>Bring your own towel.</li>
    <li i18n>Be mindful of your surroundings.</li>
    <li i18n>Keep the walls clean. Don't lean weights nor yourself against them.</li>
    <li i18n>Do not place weights directly on the floor. Use the mats.</li>
    <li i18n>Re-rack your plates and your dumbbells.</li>
    <li i18n>Clean items after workout.</li>
    <li i18n>
      Open the windows 15 minutes before end of workout. Close the windows after workout.
    </li>
    <li i18n>Turn off lights after workout.</li>
  </ul>
</div>
