@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");
@import "src/_variables";

/*
  Light 300
  Regular 400
  Bold 700
  ExtraBold 800
*/

/* Global Styles */
* {
  font-family: "Nunito", sans-serif;
}

h1 {
  // bold
  font-weight: 700;
  font-size: 26px;
}

.label {
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  margin-top: 70px;
  padding-bottom: 100px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  width: clamp(250px, 100%, 600px);
}
